<div>
    <form class="form col-md-3 pull-right" name="loginForm" id="login-form">
        <h3>Sign In</h3>
        <span class="error-msg" id="warning" ng-show="hasError">Error with username/password</span>
        <input type="text" class="form-control" placeholder="username" name="username" ng-model="username" required><br>
        <input type="password" class="form-control" placeholder="password" name="password" ng-model="password" required><br>
        <input class="pull-right btn btn btn-primary" type="submit" value="Sign In" ng-click="loginForm.$valid && login()" >
    </form>
</div>