<div>
    <span  class="btn btn-sm btn-primary pull-right" ng-click="newUser()">New User</span>
    <h2 class="page-header">Users</h2>
    <table class="table">
        <tr>
            <th>Last</th>
            <th>First</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.lastName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><input type="button" ng-click="editUser(user)" value="Edit"></td>
        </tr>
    </table>
</div>