<div>
    <ol class="breadcrumb">
        <li><a href="#/admin/documents">documents</a></li>
        <li>details</li>
    </ol>

    <div class="page-header">
        <h2>{{doc.title}}</h2>
    </div>

    <div class="well well-sm">
        <span class="doc-type">Type: {{doc.type}}</span>
        <span ng-if="doc.significant">Significant</span>
        <span ng-if="!doc.significant">Not Significant</span>
    </div>
    <div class="well well-sm">
        <div>View as:</div>
        <ul>
            <li><a href="{{doc.pdf_url}}">PDF</a></li>
            <li><a href="{{doc.html_url}}">HTML</a></li>
        </ul>
    </div>

    <p class="doc-details-abstract" ng-if="doc.abstract">{{doc.abstract}}</p>

    <span ng-if="!rating.date" class="btn btn-sm btn-primary" ng-click="review()">Review</span>
    <div ng-if="rating.date" class="panel panel-default">
        <div class="panel-heading">
            Reviewed on {{rating.date | date:'shortDate'}}
        </div>
        <div class="panel-body" >You rated {{rating.rating}} out of 5</div>
    </div>

</div>